@rendermode InteractiveServer
@using Blazor.Extensions.Canvas
@inject IJSRuntime JSRuntime


<style>
    #mapdata
    {
        width:800px;
        height:250px;
        overflow-x:hidden;
        overflow-y:scroll;
        word-wrap: break-word;
    }
</style>
<div id="generationsettings" hidden="@_hidingGenerationSettings">
    <div>
        <h5>Presets:</h5>
        <button @onclick="() => SetLatLon(37.570199, -83.710665)">Beattyville, KY</button>
        <button @onclick="() => SetLatLon(37.55729768290482, -83.3859423943577)">Jackson, KY</button>
        <button @onclick="() => SetLatLon(37.747531919359, -84.29589199459659)">Richmond, KY</button>
        <button @onclick="() => SetLatLon(38.244730097328315, -85.76343147899094)">Louisville, KY</button>
        <button @onclick="() => SetLatLon(36.16382469155207, -86.78154699261148)">Nashville, TN</button>
        <button @onclick="() => SetLatLon(39.10176167904405, -94.58163683394731)">Kansas City, MO</button>
    </div>
    <br>
    <h5>Parameters:</h5>
    <div class="slidecontainer">
        <label for="level">Level :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(@_level)</label>
        <input type="range" @bind-value:event="oninput" @bind-value="_level" min="10" max="15" class="slider" id="level">
        <br>
        <i>Lower cell levels take longer to generate.</i>
    </div>
    <br>
    <label for="lat">Latitude :&nbsp;&nbsp;&nbsp;</label>
    <input type="text" @bind="@_lat" id="lat" name="lat"><br><br>
    <label for="lng">Longitude :</label>
    <input type="text" @bind="@_lng" id="lng" name="lng"><br><br>
    <input type="submit" @onclick="@DoAction" value="Generate"><br><br>
</div>
<div id="regeneratebutton" hidden="@_hidingRegenerateButton">
    <input type="submit" @onclick="@Regenerate" value="Regenerate"><br><br>
</div>
<p>@_info @_progressInfo @_timeInfo</p>
<div id="canvas" hidden="@_hidingCanvas">
    <BECanvas @ref="_mapCanvas" Width="500" Height="500"/>
</div>
<div id = "map" hidden="@_hidingData">
    <h5>@_dataDescription</h5>
    <div id="mapdata">@_data</div>
</div>